{%extends 'templatesManager/base-admin.html'%}
{%load static%}
{%block title %}PROPIEDADES{%endblock%}

{% block content %}
<h2>Gestion de propiedades</h2>
<p class="text-muted">Panel de gestion de propiedades.</p>

<a href="{% url 'registro-propiedades' %}" class="btn btn-primary btn-lg">
  Agregar propiedades
</a>
<div class="container">
  <div class="row">
    <!-- card start -->
    {% for p in propiedades %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0 rounded-3">
          <!-- Imagen principal -->

            <img src="{{ p.thumb.url }}" class="card-img-top" alt="{{ p.titulo }}">


<div class="row mt-5">
{% for p in propiedades %}
<div class="col-md-4 mb-4 mt-4">
  <div class="card h-100" style="width: 18rem;">
    <img src="{% static p.thumb %}" class="card-img-top" alt="{{ p.titulo }}">
    <div class="card-body">
      <h5 class="card-title">{{ p.titulo }}</h5>
      <p class="card-text">{{ p.direccion }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <!-- Botones que abren los modals -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActualizar{{ p.id }}">
        Actualizar
      </button>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar{{ p.id }}">
        Eliminar
      </button>
    </div>
  </div>
</div>

<!-- Incluimos los modals con el item -->
{% include 'templatesManager/modal-eliminar.html' with item=p %}
{% include 'templatesManager/modal-actualizar.html' with item=p %}

{% empty %}
  <p>No hay propiedades disponibles.</p>
{% endfor %}
</div>

{%endblock%}

