<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Ingrese sus datos</h1>
    <form>
        <label for="nombreCli">Nombre</label><br>
        <input type="text" id="nombreCli" name="nombreCli"><br></br>

        <label for="correoCli">Correo</label><br>
        <input type="text" id="CorreoCli" name="CorreoCli"><br></br>

        <label for="tlfCliente">Telefono</label><br>
        <input type="text" id="tlfCliente" name="tlfCliente"><br></br>

        <button type="submit">Registrar</button>

    </form>
    
</body>
</html>