<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/login.js"></script>
    <title>Log In</title>
</head>
<body>
    <br><h1>INICIAR SESION</h1></br>
</body>
    <form>
        <input type="text" placeholder="Correo Electronico" id="email" name="email">
        <input type="text" placeholder="Contraseña" id="passwd" name="passwd">
        <button type="submit" id="btnLogin" onclick="validar()">Iniciar Sesion</button>
    </form>
</html>