{% extends 'templatesApp/base-admin.html' %}
{%block title%}Gestion de subscripciones {%endblock%}

{%block content%} 
<div class="container mt-5">
  <h2>Subscripciones</h2>

  <!-- Tabla Subscripciones Activas -->
<div class="mb-5">
    <h4>Activas</h4>
    <table class="table table-striped table-bordered shadow-sm">
      <thead class="table-success">
        <tr>
          <th>Correo</th>
          <th>Fecha Subscripción</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for s in subscripciones %}
          {% if s.estado == "activa" %}
          <tr>
            <td>{{ s.correo }}</td>
            <td>{{ s.fecha_subs }}</td>
            <td><span class="badge bg-success">Activa</span></td>
          </tr>
          {% endif %}
        {% empty %}
          <tr>
            <td colspan="3" class="text-center text-muted">No hay subscripciones activas.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

  <!-- Tabla Subscripciones Canceladas -->
  <div>
    <h4>Canceladas</h4>
    <table class="table table-striped table-bordered shadow-sm">
      <thead class="table-danger">
        <tr>
          <th>Correo</th>
          <th>Fecha Subscripción</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for s in subscripciones %}
          {% if s.estado == "cancelada" %}
          <tr>
            <td>{{ s.correo }}</td>
            <td>{{ s.fecha_subs }}</td>
            <td><span class="badge bg-danger">Cancelada</span></td>
          </tr>
          {% endif %}
        {% empty %}
          <tr>
            <td colspan="3" class="text-center text-muted">No hay subscripciones canceladas.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%endblock%}